{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %} Welcome | {% endblock %}
<style>
    {% block style %}


.jumbotron {
  /*background-color:#0E3D14;*/
    background-color:  #7674b9;
  color: #FFF;
    height: 20em;
    margin-top: 0em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 15px;
}

 .inside{
        height:auto;
        width:20em;
        background-color: #eaeaea;
        /*border-radius: 15px 45px;*/
        /*border-radius: 50px/15px;*/
        border: 2px solid #f6f6f6;
        padding: 20px;
        /*position: relative;*/
      }
  
body {
    font: 1em/1.67 'Open Sans', Arial, Sans-serif;
    margin: 0;
    background: #e9e9e9;
}

.wrapper {
    width: 20em;
    margin: 3em auto;
}

.masonry {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: .5em;
    -webkit-column-gap: .5em;
    column-gap: 1.5em;
    font-size: medium;
}

.item {
    display: inline-block;
    background: #111;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 20em;
    /*box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    /*box-shadow: 2px 2px 4px 0 #ccc;*/
}


    {% endblock %}
  
</style>


{% block jumbotron %}
          
{% endblock %}



{% block content %}
<!-- <div class="container"> -->

{% for x in ent %}
<div class="masonry">
  <div class="item">
  <div class="col-md-3">

    <div class="inside">
      <h3 class="text-align-center">{{x.title}}</h3>
      <img src="{{x.img_url}}" class="img-responsive" alt="Responsive image"><br>
      <p>{{x.summary}} </p>
    </div>
  </div>
</div>
<!-- </div> -->

{% endfor %}
</div> 
</div>
{% endblock %}
