{% load staticfiles %}
<nav class="navbar navbar-default navbar-fixed-top" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">X_BETA</a>
    </div>
    <ul class="nav navbar-nav">
      
      <li class="active"><a href="{% url 'home' %}">Home</a></li>
           
            <li><a href="{% url 'contact' %}">Contact</a></li>
           
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'auth_logout' %}">Logout</a></li>
            {% else %}
            <li style="float:right"><a href="{% url 'registration_register' %}">Register</a></li>
            {% endif %}
          </ul>
          {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
          <form class='navbar-form navbar-right' method='POST' action='{% url "auth_login" %}'>{% csrf_token %}
            <div class='form-group'>
                  <input type='text' class='form-control' name='username' placeholder='Username' />
              </div>
              <div class='form-group'>
                  <input type='password' class='form-control' name='password' placeholder='Password' />
              </div>
              <button type='submit' class='btn btn-default'>Login</button>
          </form>
          {% endif %}

  </div>
</nav>
