{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title %}{% endblock %}X_Home</title>
      {% include 'css.html' %}
     <style>{% block style %} {% endblock %}</style>

  </head>

  <body>
{% include 'navbar1.html' %}

{% block jumbotron %}

{% endblock %}

{% block content %}
<!-- Form block-->
{% endblock %}
{% include 'js.html' %}
  </body>
</html>



