{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block head_title %} Welcome | {% endblock %}

 
{% block jumbotron %}
<!-- <div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 " >
        <img src="{% static 'img/news.gif' %}" class="img-responsive" alt="Responsive image" height="200px" width="300px">
      </div>
      <div class="col-sm-8">
        <h2 class="text-align-center">NEWS</h2>
        <p class="text-align-center" style="margin: auto">The below News is a computer-generated news service that aggregates headlines from many news sources worldwide, groups similar stories together, and displays them according to each reader's interests.</p>
        <p>{{x.category}}</p>
      </div>
    </div>
  </div>
</div> -->
{% endblock %}



{% block content %} 
<div class="container">
  {% for x in wobj %}
    {% if forloop.counter|divisibleby:5 %}
      <div class="col-md-6" >
      <div class="inside1">
        <h3 class="text-align-center">{{x.title}}</h3>
        <img src="{{x.img_url}}" class="img-responsive" alt="Responsive image"><br>
        {% if x.summary == None %}
        <p class="text-align-center"></p>
        {% else %}
        <p class="text-align-center">{{x.summary}} </p>
        {% endif %}
        <p class="text-align-center"><a class="btn btn-default" href="{{x.page_link}}" target="_blank" role="button">View details &raquo;</a></p>
        <p>{{x.category}}</p>
      </div>
      </div>
    {% else %}
      <div class="col-md-3">
      <div class="inside">
        <h3 class="text-align-center">{{x.title}}</h3>
        <img src="{{x.img_url}}" class="img-responsive" alt="Responsive image"><br>
        {% if x.summary == None %}
        <p class="text-align-center"></p>
        {% else %}
        <p class="text-align-center">{{x.summary}} </p>
        {% endif %}
        <p class="text-align-center"><a class="btn btn-default" href="{{x.page_link}}" target= "_blank"  role="button">View details &raquo;</a></p>
        <p>{{x.category}}</p>
      </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
<hr>
<div class="container">
  {% for x in pobj %}
    {% if forloop.counter|divisibleby:5 %}
     
      <div class="col-md-6" >
       <a href="{{x.page_link}}" target="_blank">
      <div class="inside1">
        <h3 class="text-align-center">{{x.title}}</h3>
        <img src="{{x.img_url}}" class="img-responsive" alt="Responsive image"><br>
        {% if x.summary == None %}
        <p class="text-align-center"></p>
        {% else %}
        <p class="text-align-center">{{x.summary}} </p>
        {% endif %}
        <!-- <p class="text-align-center"><a class="btn btn-default" href="{{x.page_link}}" target="_blank" role="button">View details &raquo;</a></p> -->
        <p>{{x.category}}</p>
      </div>
      </a>
      </div>
      
    {% else %}
      <div class="col-md-3">
      <div class="inside">
        <h3 class="text-align-center">{{x.title}}</h3>
        <img src="{{x.img_url}}" class="img-responsive" alt="Responsive image"><br>
        {% if x.summary == None %}
        <p class="text-align-center"></p>
        {% else %}
        <p class="text-align-center">{{x.summary}} </p>
        {% endif %}
        <p class="text-align-center"><a class="btn btn-default" href="{{x.page_link}}" target= "_blank"  role="button">View details &raquo;</a></p>
        <p>{{x.category}}</p>
      </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
<hr>
<div class="container">
  {% for x in bobj %}
    {% if forloop.counter|divisibleby:5 %}
      <div class="col-md-6" >
      <div class="inside1">
        <h3 class="text-align-center">{{x.title}}</h3>
        <img src="{{x.img_url}}" class="img-responsive" alt="Responsive image"><br>
        {% if x.summary == None %}
        <p class="text-align-center"></p>
        {% else %}
        <p class="text-align-center">{{x.summary}} </p>
        {% endif %}
        <p class="text-align-center"><a class="btn btn-default" href="{{x.page_link}}" target="_blank" role="button">View details &raquo;</a></p>
        <p>{{x.category}}</p>
      </div>
      </div>
    {% else %}
      <div class="col-md-3">
      <div class="inside">
        <h3 class="text-align-center">{{x.title}}</h3>
        <img src="{{x.img_url}}" class="img-responsive" alt="Responsive image"><br>
        {% if x.summary == None %}
        <p class="text-align-center"></p>
        {% else %}
        <p class="text-align-center">{{x.summary}} </p>
        {% endif %}
        <p class="text-align-center"><a class="btn btn-default" href="{{x.page_link}}" target= "_blank"  role="button">View details &raquo;</a></p>
        <p>{{x.category}}</p>
      </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<hr>
<div class="container">
  {% for x in tobj %}
    {% if forloop.counter|divisibleby:5 %}
      <div class="col-md-6" >
      <div class="inside1">
        <h3 class="text-align-center">{{x.title}}</h3>
        <img src="{{x.img_url}}" class="img-responsive" alt="Responsive image"><br>
        {% if x.summary == None %}
        <p class="text-align-center"></p>
        {% else %}
        <p class="text-align-center">{{x.summary}} </p>
        {% endif %}
        <p class="text-align-center"><a class="btn btn-default" href="{{x.page_link}}" target="_blank" role="button">View details &raquo;</a></p>
        <p>{{x.category}}</p>
      </div>
      </div>
    {% else %}
      <div class="col-md-3">
      <div class="inside">
        <h3 class="text-align-center">{{x.title}}</h3>
        <img src="{{x.img_url}}" class="img-responsive" alt="Responsive image"><br>
        {% if x.summary == None %}
        <p class="text-align-center"></p>
        {% else %}
        <p class="text-align-center">{{x.summary}} </p>
        {% endif %}
        <p class="text-align-center"><a class="btn btn-default" href="{{x.page_link}}" target= "_blank"  role="button">View details &raquo;</a></p>
        <p>{{x.category}}</p>
      </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<hr>
<div class="container">
  {% for x in fobj %}
    {% if forloop.counter|divisibleby:5 %}
      <div class="col-md-6" >
      <div class="inside1">
        <h3 class="text-align-center">{{x.title}}</h3>
        <img src="{{x.img_url}}" class="img-responsive" alt="Responsive image"><br>
        {% if x.summary == None %}
        <p class="text-align-center"></p>
        {% else %}
        <p class="text-align-center">{{x.summary}} </p>
        {% endif %}
        <p class="text-align-center"><a class="btn btn-default" href="{{x.page_link}}" target="_blank" role="button">View details &raquo;</a></p>
        <p>{{x.category}}</p>
      </div>
      </div>
    {% else %}
      <div class="col-md-3">
      <div class="inside">
        <h3 class="text-align-center">{{x.title}}</h3>
        <img src="{{x.img_url}}" class="img-responsive" alt="Responsive image"><br>
        {% if x.summary == None %}
        <p class="text-align-center"></p>
        {% else %}
        <p class="text-align-center">{{x.summary}} </p>
        {% endif %}
        <p class="text-align-center"><a class="btn btn-default" href="{{x.page_link}}" target= "_blank"  role="button">View details &raquo;</a></p>
        <p>{{x.category}}</p>
      </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<hr>
<div class="container">
  {% for x in sobj %}
    {% if forloop.counter|divisibleby:5 %}
      <div class="col-md-6" >
      <div class="inside1">
        <h3 class="text-align-center">{{x.title}}</h3>
        <img src="{{x.img_url}}" class="img-responsive" alt="Responsive image"><br>
        {% if x.summary == None %}
        <p class="text-align-center"></p>
        {% else %}
        <p class="text-align-center">{{x.summary}} </p>
        {% endif %}
        <p class="text-align-center"><a class="btn btn-default" href="{{x.page_link}}" target="_blank" role="button">View details &raquo;</a></p>
        <p>{{x.category}}</p>
      </div>
      </div>
    {% else %}
      <div class="col-md-3">
      <div class="inside">
        <h3 class="text-align-center">{{x.title}}</h3>
        <img src="{{x.img_url}}" class="img-responsive" alt="Responsive image"><br>
        {% if x.summary == None %}
        <p class="text-align-center"></p>
        {% else %}
        <p class="text-align-center">{{x.summary}} </p>
        {% endif %}
        <p class="text-align-center"><a class="btn btn-default" href="{{x.page_link}}" target= "_blank"  role="button">View details &raquo;</a></p>
        <p>{{x.category}}</p>
      </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<hr>
<div class="container">
  {% for x in cobj %}
    {% if forloop.counter|divisibleby:5 %}
      <div class="col-md-6" >
      <div class="inside1">
        <h3 class="text-align-center">{{x.title}}</h3>
        <img src="{{x.img_url}}" class="img-responsive" alt="Responsive image"><br>
        {% if x.summary == None %}
        <p class="text-align-center"></p>
        {% else %}
        <p class="text-align-center">{{x.summary}} </p>
        {% endif %}
        <p class="text-align-center"><a class="btn btn-default" href="{{x.page_link}}" target="_blank" role="button">View details &raquo;</a></p>
        <p>{{x.category}}</p>
      </div>
      </div>
    {% else %}
      <div class="col-md-3">
      <div class="inside">
        <h3 class="text-align-center">{{x.title}}</h3>
        <img src="{{x.img_url}}" class="img-responsive" alt="Responsive image"><br>
        {% if x.summary == None %}
        <p class="text-align-center"></p>
        {% else %}
        <p class="text-align-center">{{x.summary}} </p>
        {% endif %}
        <p class="text-align-center"><a class="btn btn-default" href="{{x.page_link}}" target= "_blank"  role="button">View details &raquo;</a></p>
        <p>{{x.category}}</p>
      </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

{% endblock %}

<!--  {% if request.user.is_authenticated %}
 <h1>You are logged in!</h1>

{% if queryset %}
<h2>Welcome Staff</h2>
<table class='table'>
{% for instance in queryset %}
<tr>
  <td>{{ forloop.counter }}</td>
  <td>{{ instance.Name }}</td>
  <td>{{ instance.Email }}</td>
  <td>{{ instance.timestamp|timesince }} ago</td>
</tr>
{% if instance.email == "abc@gmail.edu" %}
<tr>
 <td>is equal</td>
</tr>
{% endif %}
{% endfor %}
</table>
{% endif %}
{% endif %}
 -->
