{% load staticfiles %}
<nav class="navbar navbar-default navbar-static-top" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">Nimble
        <!-- <img src="{%static 'img/logo.png'%}"></img> --></a>
    </div>
    <ul class="nav navbar-nav">
      
      <li ><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li><a href="">Objective</a></li>
            <li><a href="">Documentation</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
             
           
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'auth_logout' %}">Logout</a></li>
            {% else %}
            <li style="float:right"><a href="{% url 'registration_register' %}">Register</a></li>
            {% endif %}
          </ul>
          {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
          <!-- <form class='navbar-form navbar-right' method='POST' action='{% url "auth_login" %}'>{% csrf_token %}
            <div class='form-group'>
                  <input type='text' class='form-control' name='username' placeholder='Username' />
              </div>
              <div class='form-group'>
                  <input type='password' class='form-control' name='password' placeholder='Password' />
              </div>
              <button type='submit' class='btn btn-default'>Login</button>
          </form> -->
          {% endif %}

  </div>
</nav>
<ul class="nav nav-pills">
  <li class="all-space" role="presentation" class="active"><a href="{% url 'home' %}">Home</a></li>
  <li class="all-space" role="presentation"><a href="{% url 'world' %}">World</a></li>
  <li class="all-space" role="presentation"><a href="{% url 'tech' %}">Tech</a></li>
  <li class="all-space" role="presentation"><a href="{% url 'football' %}">Football</a></li>
  <li class="all-space" role="presentation"><a href="{% url 'politics' %}">Politics</a></li>
  <li class="all-space" role="presentation"><a href="{% url 'sports' %}">Sports</a></li>
  <li class="all-space" role="presentation"><a href="{% url 'culture' %}">Culture</a></li>
  <li class="all-space" role="presentation"><a href="{% url 'buisness' %}">Buisness</a></li>
</ul>
