{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block head_title %} Welcome | {% endblock %}


{% block content %} 
<div class="container">
{% for x in abc %}
  {% if forloop.counter|divisibleby:5 %}
    <div class="col-md-6" >
    <div class="inside1">
      <h3 class="text-align-center">{{x.title}}</h3>
      <img src="{{x.img_url}}" class="img-responsive" alt="Responsive image"><br>
      {% if x.summary == None %}
      <p class="text-align-center"></p>
      {% else %}
      <p class="text-align-center">{{x.summary}} </p>
      {% endif %}
      <!-- <p class="text-align-center"><a class="btn btn-default" href="{{x.page_link}}" target="_blank" role="button">View details &raquo;</a></p> -->
      <!-- <p>{{x.category}}</p> -->
      <a href="{{x.page_link}}" target="_blank">
          <span class="link-spanner"></span>
        </a> 
    </div>
    </div>
  {% else %}
    <div class="col-md-3">
    <div class="inside">
      <h3 class="text-align-center">{{x.title}}</h3>
      <img src="{{x.img_url}}" class="img-responsive" alt="Responsive image"><br>
      {% if x.summary == None %}
      <p class="text-align-center"></p>
      {% else %}
      <p class="text-align-center">{{x.summary}} </p>
      {% endif %}
      <!-- <p class="text-align-center"><a class="btn btn-default" href="{{x.page_link}}" target= "_blank"  role="button">View details &raquo;</a></p> -->
      <!-- <p>{{x.category}}</p> -->
      <a href="{{x.page_link}}" target="_blank">
          <span class="link-spanner"></span>
        </a> 
    </div>
    </div>
  {% endif %}
{% endfor %}
</div>
{% endblock %}

